$color: #ECEFF1;
$search-bar-height: 45px;
$footer-height: 45px;

.header{
  font-family: 'Roboto Condensed','Droid Sans',arial,sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 23px;
  min-height: 38px;
  width: 100%;
}

.container{
  padding: 0;
  margin-top: $search-bar-height + 15px;
  margin-bottom: $footer-height + 15px;
  position: relative;
  width: 100%;
}

.todo{
  box-sizing: border-box;
  font-family: 'Roboto Slab','Times New Roman',serif;
  font-size: 17px;
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  position: relative;
  padding: 0;
  width: 100%;
  height: 30px;
  input[type="text"]{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto Slab','Times New Roman',serif;
    font-size: 15px;
    padding-right: 45px;
    padding-left: 30px;
  }
  input[type="checkbox"]{
    position:absolute;
    width: 30px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    margin: 10px 0 0 10px;
  }
  button{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    top: 0;
    background: grey;
    border-radius: 50%;
    border: none;
    color: white;
    font: bold 17px Roboto,sans-serif;
    margin: 2px 10px 0 10px;
    opacity: 0.85;
  }
}

.add-todo{
  position: relative;
  padding: 0;
  width: 100%;
  height: 30px;
  input{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto Slab','Times New Roman',serif;
    font-size: 17px;
    padding: 0 45px 0 10px;
  }
  button{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    top: 0;
    background: grey;
    border-radius: 10%;
    border: none;
    color: white;
    font: bold 20px Roboto,sans-serif;
    padding: 1px 0 0 0;
    margin: 2px 10px 0 10px;
    opacity: 0.85;
  }
}

.add-element{
  background-color: white;
  position: relative;
  padding: 0;
  width: 100%;
  height: 50px;
  box-shadow: 3px 3px 3px #888888;
  input{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto Slab','Times New Roman',serif;
    font-size: 17px;
    padding-right: 200px;
    padding-left: 5px;
  } 
  .b1{
    width: 100px;
    height: 100%;
    position: absolute;
    right: 100px;
    top: 0;
  }
  .b2{
    width: 100px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.note{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 10px 0 10px;
}

.search-bar{
  background-color: #FF9800;
  height: $search-bar-height;
  left: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  input{
    box-sizing: border-box;
    font: normal 20px Roboto,sans-serif; 
    height: 100%;
    padding-left: 15px;
    padding-right: 55px; 
    width: 100%;
  }
  button{
    background: grey;
    border-radius: 50%;
    border: none;
    color: white;
    font: bold 20px Roboto,sans-serif;
    height: 35px;
    margin: 5px 10px 0 10px;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
  }
}

.footer{
  position: relative;
  padding-top: 5px;
  width: 100%;
  height: 30px;
}

.general-footer{
  padding: 10px 0 0 10px;
  position: fixed;
  width: 100%;
  height: $footer-height;
  bottom: 0;
  left: 0;
  background-color: #FF9800;
  z-index: 999;
}

.element{
  position: relative;
  box-shadow: 3px 3px 3px #888888;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  .archivar{
    background: transparent;
    height: 30px;
    position: absolute;;
    bottom: 0;
    right: 0;
    width: 90px;
  }  
  .colors{
    height: 35px;
    
    .color{
      border-radius: 50%;
      border-style: solid;
      border-width: 2px;
      border-color: grey;
      margin: 5px 0 0 5px;
      height: 20px;
      width: 20px;
    }
    overflow-x: auto;
    margin-right: 90px;
  }

}


input{
  background: transparent;
  border: none;
}

body{
  background: $color;
}

::-webkit-input-placeholder {
   color: grey;
}

@media only screen and (min-width: 480px) {
  .add-element{
    margin: 0 auto;
    width: 450px;
  }
  .column-wrapper{
    column-count: 2;
    column-gap: 10px;
  }
  .column-wrapper > div {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside:avoid;
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    display: inline-block;
    overflow: hidden; 
  }

}

@media only screen and (min-width: 768px){
  .column-wrapper{
    column-count: 3;
  }
}
